.navText{
  font-size: 16px;  
  font-family: 'Montserrat', sans-serif;


}

.navText a{
  font-weight: bold;
  color:black;
  margin: 0px 2px;
  padding: 0 4px;
  letter-spacing: 2px;
  text-decoration: none;


}

.navText a:hover{
  color: #c7c5c4;
  text-decoration: none;
 
 }

 