<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/1N02200juZlrts728n3ii1" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/1mzJ4n9ak4ftkJQLTLHZ6n" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/1INlswsfrURCPElXbU3iBH" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/4hUM5flprVbKgkjgjVD7LB" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/1iQxjq8QbJDs9p01iA9Wn7" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> 
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/10LJs0j7Q04D6J5laLGV3A" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/2U5FImuibM7sq19gQ2fQkB" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/0gJMzQnf1jlkb5MzDOUQBH" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div class = "center">
  <iframe src="https://open.spotify.com/embed/playlist/38NzUtTZNTdVPOb6qdyJDX" width="700" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>