.center {
  width: calc(100% - 600px);
  padding: 0px 300px;
  position: relative;
}

.vibesText{
  font-size: 16px;  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.centerText{
  text-align: center;
  vertical-align: middle;
}